ARG OTCHADO_FROMIMG
FROM $OTCHADO_FROMIMG

{# install omxplayer and console-data from raspios repositories #}
RUN apt-get update -y
RUN apt-get install --no-install-recommends --no-install-suggests --yes omxplayer

{# install latest youtube-dl from youtube-dl.org #}
RUN apt-get install --no-install-recommends --no-install-suggests --yes python3 \
    python3-certifi
WORKDIR /usr/bin
RUN ln -s python3 python
RUN wget https://yt-dl.org/downloads/latest/youtube-dl -O /usr/local/bin/youtube-dl
RUN chmod a+rx /usr/local/bin/youtube-dl
ENV SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt

{# install and enable ssh service, permit root login #}
RUN apt-get install --no-install-recommends --no-install-suggests --yes ssh
RUN systemctl enable ssh
RUN echo "PermitRootLogin yes" >> /etc/ssh/sshd_config

{# download youtube links and store them locally in /clips.
Generate also playall.sh to play those video files continuously
with omxplayer in the right order. #}
RUN mkdir /clips
WORKDIR /clips
RUN echo '#!/bin/sh -e' > ./playall.sh
RUN echo >> ./playall.sh
RUN chmod +x ./playall.sh
{% for link in youtube_links %}
RUN youtube-dl --restrict-filenames -o \
    'clip{{"%02d"|format(loop.index)}}__%(title)s.%(ext)s' {{link}}
RUN echo omxplayer -o both --vol -1500 \
    'clip{{"%02d"|format(loop.index)}}__'*.* >> ./playall.sh
{% endfor %}
RUN echo >> ./playall.sh
RUN echo 'exec ./playall.sh' >> ./playall.sh

{# call playall.sh from rc.local #}
RUN echo '#!/bin/sh -e' > /etc/rc.local
RUN echo >> /etc/rc.local
RUN echo 'cd /clips && ./playall.sh &'>> /etc/rc.local
RUN chmod +x /etc/rc.local
