ARG OTCHADO_FROMIMG
FROM $OTCHADO_FROMIMG

{# add rootfs generated at stage1 #}
ADD bootstrap-stage1.tar.gz /

{# finish with debootstrap #}
RUN /debootstrap/debootstrap --second-stage
RUN rm -fr /debootsrap

{# debconf: set non interactive #}
ENV DEBIAN_FRONTEND noninteractive

{# install wget #}
RUN apt-get install --no-install-recommends --no-install-suggests --yes wget

{# prepare and update packages list #}
WORKDIR /tmp
COPY sources.list /etc/apt
RUN wget http://archive.raspberrypi.org/debian/raspberrypi.gpg.key
RUN apt-key add raspberrypi.gpg.key
RUN apt-get update -y
RUN rm -f raspberrypi.gpg.key

{# install bootloader and kernel #}
RUN apt-get install --no-install-recommends --no-install-suggests --yes raspberrypi-bootloader raspberrypi-kernel
COPY config.txt /boot
COPY cmdline.txt /boot

{# copy /etc/fstab #}
COPY fstab /etc

{# setup keyboard layout #}
RUN apt-get install --no-install-recommends --no-install-suggests --yes console-data console-setup-mini
RUN mkdir -p /etc/default
COPY keyboard /etc/default

{# copy /etc/hostname and /etc/hosts
Note the special location /otchado/overrides/etc used instead of /etc.
It's because the docker machinery operates on some standard
config files (like /etc/hostname and /etc/hosts) which makes them
unusable by the otchado disk generation process.
#}
RUN mkdir -p /otchado/overrides/etc
RUN echo '{{hostname}}' > /otchado/overrides/etc/hostname
COPY hosts /otchado/overrides/etc/

{# install ifupdown #}
RUN apt-get install --no-install-recommends --no-install-suggests --yes ifupdown
COPY interfaces /etc/network

{# install net-tools #}
RUN apt-get install --no-install-recommends --no-install-suggests --yes net-tools

{# install isc-dhcp-client #}
RUN apt-get install --no-install-recommends --no-install-suggests --yes isc-dhcp-client

{# install init #}
RUN apt-get install --no-install-recommends --no-install-suggests --yes init

{# set root password #}
RUN echo 'root:ertyuiop'|chpasswd

{# install nano #}
RUN apt-get install --no-install-recommends --no-install-suggests --yes nano

{# remove apt cache #}
RUN rm -fr /var/cache/apt/*
