ARG OTCHADO_FROMIMG
FROM $OTCHADO_FROMIMG

{# thanks to the template mechanism the variable 'motd_content'
defined in the recipe is seen in this file #}

{# set message of the day #}
RUN echo "{{motd_content}}" > /etc/motd

{# install and enable ssh service, permit root login #}
RUN apt-get install --no-install-recommends --no-install-suggests --yes ssh
RUN systemctl enable ssh
RUN echo "PermitRootLogin yes" >> /etc/ssh/sshd_config
