<html>

<head>
  <link rel="stylesheet" href="_static/theme.css" type="text/css" />
</head>

<body>
  <div class="document">
    <div class="documentwrapper">
      <div class="body" role="main">
        {{ body }}
      </div>
    </div>
  </div>
</body>

</html>
