$fg0: #004020
$fg1: #801020

$bg0: #e0fff0


@page
  @bottom-right
    color: $fg0
    content: counter(page)
    height: 0.5cm
    text-align: center
    width: 0.5cm
    border: solid $fg0


html
  body
    a.headerlink
      visibility: hidden

    a
      color: $fg0
      font-weight: bold

    h1
      font-size: 28pt
      text-align: center

    h2
      font-size: 24pt
      text-align: center

    h3
      font-size: 16pt

    h4
      font-size: 15pt

    h5
      font-size: 14pt

    h6
      font-size: 13pt

    p
      text-align: justify
      font-size: 11pt

    div[id*="introduction"] > p
      font-style: italic

    .highlight
      font-size: 9pt
      font-weight: bold
      color: black
      background-color: $bg0
      border: solid $fg0
      border-width: 1px 0 0 0

    .highlight-shell-session
      .gp
        color: $fg0

      .go
        font-weight: normal

    .highlight-python
      .kn
        color: purple

      .c1
        color: DarkSlateBlue

      .nn
        color: blue

      .n
        color: black

      .sa
        color: DarkGreen

      .s1
        color: $fg1

      .se
        color: $fg1

      .si
        color: rgba($fg1, 2.0)

    .highlight-jinja
      .c
        color: DarkSlateBlue

      .cp
        color: $fg1

      .nv
        color: purple

    code.literal
      color: black
      font-weight: 400

    .plantuml
      img
        width: 100%

    section[id*="via-ssh"]
      dl
        width: 40%
        border: 0
        border-top: 1px solid $fg0
        background-color: $bg0
        padding-top: 10px
        dt
          color: $fg0
          font-weight: 800
        dt::after
          content: ":"
        p
          display: inline
